/* fonts */
@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Gotham-Book.woff2) format('woff2');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Gotham-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Gotham-Light.woff2) format('woff2');
}
/* fonts end */
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
	/* padding: 0 15px; */

}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header {
	padding: 25px 0 23px 0;
}

.header-menu__list {
	display: flex; 
}

.header-menu__list-item {
	list-style: none;
	padding: 0 28px;
	border-right: 1px solid #ebeda4;
}

.header-menu__list-item:last-child {
	border-right: none;
  padding: 0 0 0 28px;
}

.header-menu__list-link {
  font-family: "Gotham Book";
  font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ee2255;

}

/* .welcome {
	min-height: 630px;
} */

.welcome-slider {
  position: relative;
  width: 100%;
}

.welcome-slider__text {
  position: absolute;
  left:0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  margin-left: 7px;
}

.welcome-slider__text-title {
  font-family: "Gotham";
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: normal;
}

.welcome-slider__text-title span {
  font-family: "Gotham";
  font-weight: 100;
}

.welcome-slider__text-subtitle {
  font-family: "Gotham";
  font-weight: 100;
  font-size: 32px;
  margin: 20px 0 0 0;
}

/* discover */
.discover {
  background: #fbfbed;
  padding: 74px 0;
}

.discover-title {
  margin: 0;
  font-family: "Gotham";
  font-weight: 700;
  font-size: 40px;
  color: #3dbe98;
  text-transform: uppercase;
}

.discover-title span {
  font-family: "Gotham";
  font-weight: 100;
}

.discover-subtitle {
  font-size: 14px;
  font-family: "Gotham";
  font-weight: 100;
  color: #767671;
  margin-top: 8px;
}

.discover-items {
  display:flex;
  justify-content: space-between;
  margin-top: 47px;
}

.discover-items__item {
  display: flex;
  flex-direction: column;
  flex-basis: 285px;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.discover-items__box {
  padding: 16px 18px 19px 18px;
  flex: 1 0 auto;
}
.discover-items__box-title {
  font-size: 24px;
  font-family: "Gotham Book";
  color: #3dbe98;
  text-transform: uppercase;
}
.discover-items__box-text {
  color: #696969;
  font-size: 14px;
  font-family: "Gotham";
  font-weight: 100;
  margin-top: 13px;
}
.discover-items__link {
  font-family: "Gotham";
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
  color: #aee0cf;
  background: #3dbe98;
  padding: 20px 20px 17px 20px ;
}

.discover-items__link span {
  font-family: "Gotham Book";
  color: #fff;
  font-size: 20px;
  margin-left: 2px;
}

/* discover end */