/* fonts */
@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Gotham-Book.woff2) format('woff2');
}

@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/Gotham-Book-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Gotham Narrow';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Gotham-Narrow-Book-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/Gotham-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/Gotham-Light.woff2) format('woff2');
}
/* fonts end */

p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.bg-pos {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.title {
  font-family: "Gotham";
  font-weight: 700;
  text-transform: uppercase;
}

.title span {
  font-weight: 100;
}

.subtitle {
  font-family: "Gotham";
  font-weight: 100;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
  /* min-width: 320px; */
	/* padding: 0 15px; */

}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo,
.footer-logo {
  flex-shrink: 0;
  flex-basis: 179px;
}

.header {
	padding: 25px 0 23px 0;
}

.header-menu__list {
	display: flex; 
  flex-wrap: wrap;
}

.header-menu__list-item {
	list-style: none;
	padding: 0 28px;
	border-right: 1px solid #ebeda4;
}

.header-menu__list-item:last-child {
	border-right: none;
  padding: 0 0 0 28px;
}

.header-menu__list-link {
  font-family: "Gotham Book";
  font-size: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ee2255;

}

/* .welcome {
	max-height: 630px;
} */

.welcome-slider {
  position: relative;
  width: 100%;
}

.welcome-slider__text {
  position: absolute;
  left:0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  margin-left: 7px;
}

.welcome-slider__text-title {
  font-family: "Gotham";
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  letter-spacing: normal;
}

.welcome-slider__text-title span {
  font-family: "Gotham";
  font-weight: 100;
}

.welcome-slider__text-subtitle {
  font-family: "Gotham";
  font-weight: 100;
  font-size: 32px;
  margin: 20px 0 0 0;
}

/* discover */
.discover {
  background: #fbfbed;
  padding-top: 74px;
  padding-bottom: 74px;
}

.discover-title {
  font-size: 40px;
  color: #3dbe98;
}

.discover-title span {
  font-weight: 100;
}

.discover-subtitle {
  font-size: 14px;
  color: #767671;
  margin-top: 8px;
}

.discover-items {
  /* display:flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  margin-top: 47px;
}

.discover-items__item {
  /* display: flex;
  flex-direction: column; */
  margin-bottom: 20px;
  /* flex-basis: 285px; */
  /* background: #fff; */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 0;
}

.discover-items__box {
  padding: 16px 18px 19px 18px;
  flex: 1 0 auto;
}
.discover-items__box-title {
  font-size: 24px;
  font-family: "Gotham Book";
  color: #3dbe98;
  text-transform: uppercase;
}
.discover-items__box-text {
  color: #696969;
  font-size: 14px;
  font-family: "Gotham";
  font-weight: 100;
  margin-top: 13px;
}
.discover-items__link {
  font-family: "Gotham";
  font-weight: 100;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #aee0cf;
  background: #3dbe98;
  padding: 20px 20px 17px 20px ;
}

.discover-items__link span {
  font-family: "Gotham Book";
  color: #fff;
  font-size: 20px;
  margin-left: 2px;
}

/* discover end */


/* experience */

.experience {
  padding: 74px 0 81px 0;
}

.experience__title {
  color: #e62251;
  font-size: 40px;
}
.experience__subtitle {
  color: #d6d3d3;
  font-size: 14px;
  margin-top: 8px;
}
.experience-box {
  margin: 240px auto 0;
  max-width: 980px;
  text-align: center;
}
.experience-box__text {
  font-family: "Gotham Narrow";
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 36px;
}
.experience-box__link {
  display: inline-block;
  font-family: "Gotham Book";
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 18px 72px; 
  background: #ee2255;
}

/* END experience */

/* why */

.why {
  padding: 74px 0 50px 0;
}

.why-title {
  font-size: 40px;
  color: #ff5d35;
  text-align: center;
}
.why-list {
  /* display: flex;
  justify-content: space-between;
  padding: 0; */
  margin-top: 40px;
}
.why-list__item {
  /* flex-basis: 358px; */
  font-family: "Gotham Book";
  font-weight: 400;
  color: #777777;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

/* END why */

/* order */

.order {
  padding: 135px 0;
}
.ordrt-box {
  background-color: rgb(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  padding: 65px 100px;
}
.order-box__title {
  font-family: "Gotham";
  font-weight: 700;
  font-size: 40px;
}
.order-box__text {
  font-family: "Gotham Book";
  font-weight: 100;
  line-height: 30px;
  margin: 38px auto;
  /* width: 980px; */
}
.order-box__link {
  display: inline-block;
  font-family: "Gotham Book";
  font-size: 20px;
  text-transform: uppercase;
  background: #21b6c7;
  color: #fff;
  text-decoration: none;
  padding: 22px 82px;
}

/* END order */


/* footer */

.footer {
  padding: 41px 0 53px 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
}
.footer-container__nav-box {
  display: flex;
  justify-content: space-between;
  flex-basis: 630px;
}
.footer-container__items {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  margin: 0;
  padding: 0;
}
.footer-container__item {
  list-style: none;
  margin-bottom: 5px;
}
.footer-container__link {
  font-family: "Gotham";
  font-weight: 100;
  color: #f7a6b5;
  font-size: 16px;
  text-decoration: none;
}

.footer-container__link:hover {
  text-decoration: underline;
}


.footer-soc {
}
.footer-soc__item {
}


/* end footer */






/* media  */

@media (max-width: 575.98px) {
  

  .welcome-slider__text-title {font-size: 30px;}
  .welcome-slider__text-subtitle {font-size: 16px;margin: 0;}
  .discover {padding-top: 30px;}
  .discover-title {font-size: 30px;}
  .discover-items {margin-top: 28px;}
  .why {padding: 20px 0;}
  .why-list {margin-top: 5px;}
  .why-list__item {border-bottom: 1px solid #ff5d35;margin-bottom: 5px;}

}

@media (max-width: 767.98px) {
  .header-menu__list-item {border-right:none;}
}

@media (max-width: 991.98px) {

}

@media (max-width: 1199.98px) {

}

@media (max-width: 1399.98px) {

}

/* end media */